@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Birthstone&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fascinate&family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Birthstone&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Fascinate&family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --font1: "Sriracha", cursive;
    --font2: "Passion One", sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 15em;
    display: grid;
    place-items: center;
    width: 100%;

}
header a  {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

header h1 {
    font-size: 10vw;
    font-variant: small-caps;
    font-family: var(--font2) 
     }

    

.estf {
    margin: 30px;
    padding: 50px;
    font-size: 1.4em;
    width: 100%;
    height: 20em;
    display: grid;
    padding-top: 5em;
     padding-left: 1em;
    font-family: var(--font1);
}


.estf2 {
    margin: 30px 30px 100px 30px;
    padding: 50px;
  
    font-size: 1.4em;
    width: 100%;
    height: 10em;
    display: grid;
    padding-top: 5em;
     padding-left: 1em;
     font-family: var(--font1);
}

.imagem1{
    background-image: url(https://th.bing.com/th/id/R.b4c93eb556ec7aa7d1f219d94d5e9228?rik=gYGAOG51776lgg&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 30em;
    opacity: 90%;
    padding-top: 4em;
}
.imagem2{
    background-image: url(https://img.freepik.com/fotos-premium/pergamino-antiguo-texto-escrito-mano-ai-generativa_438099-21429.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 30em;
    opacity: 90%;
    padding-top: 4em;
}

.bloco-imagem {
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    max-width: 20em;
    display: grid; 
    place-items: center;
    padding: 1em;
    border-radius: 15px;
    height: 18em;
    margin: 20px;
    font-size: 1.2em;
    font-family: var(--font1);
}

footer {
    background-color: black;
    color: white;
    height: 2em;
    display: grid;
    place-items: center;
    font-size: 1.3em;
    margin-top: 700px ;
}